.card {
    width: fit-content;
    border-radius: 2%;
    border: 1px solid aliceblue;
    background-color: grey;
    height: 500px;
    padding: 5px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 0px 50px;
    max-height: 100%;
    gap: 2px;
}

.card-content > * {
    margin: 0px;
}

.card-content > img {
    align-self: center;
    width: 200px;
    height: 200;
}

.card-content > h5, h4, h3, h2 {
    line-height: 1.1;
    max-width: 100%;
    text-overflow: inherit;
}